src/main/resources/META-INF/customSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.clemence.com/schema/customTag"
        xmlns:tns="http://www.clemence.com/schema/customTag"
        elementFormDefault="qualified">
    <element name="customTag">
        <complexType>
            <attribute name ="subject" type = "string"/>
            <attribute name ="score" type = "string"/>
        </complexType>
    </element>
</schema>
